@model List<Category>


<title>@ViewData["Title"] - SweetCrazeBakery </title>
<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-primary">Category List</h2>
		</div>

		<div class="col-6 text-end">
			<a asp-controller="Category" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i>  Create New Category
			</a>
		</div>
	</div>
</div>

<table class="table table-hover">
	<thead>
	<tr class="table-light">
		<th class="text-secondary">
			Category Name
		</th>

			<th class="text-secondary">
			Category Dispaly Order
		</th>

		<th></th>
	</tr>
	</thead>
	<tbody>
		@foreach(var cat in Model.OrderBy(c=>c.displayOrder))
		{
			<tr class="table-light">
			<td>
				@cat.categoryName
			</td>
			<td>
				@cat.displayOrder
			</td>
			<td>
				<div class="w-75 btn-group" role="group">
						<a asp-controller="Category" asp-action="Edit" asp-route-categoryId="@cat.categoryID" class="btn btn-outline-info mx-2">
							<i class="bi bi-pencil-square"></i> Edit
					</a>
						<a asp-controller="Category" asp-action="Delete" class="btn btn-outline-danger mx-2">
							<i class="bi bi-trash"></i> Delete
					</a>
				</div>
			</td>
		</tr>
		}

	</tbody>

</table>